@mixin transition-fade {
  transition: all 0.3s ease-in-out;
}

@mixin transition-opacity {
  transition: opacity 0.3s ease-in-out;
}

@mixin transition-fade-($i) {
  -webkit-transition: all $i * 0.1s ease-in-out;
}

@mixin transition-opacity-($i) {
  transition: opacity $i * 0.1s ease-in-out;
}

@mixin transition-ease-($i) {
  transition: all $i * 0.1s ease;
}