.elementor-561 .elementor-element.elementor-element-561{--grid-side-margin:5px;--grid-column-gap:5px;--grid-row-gap:0px;--grid-bottom-margin:0px;}.elementor-561 .elementor-element.elementor-element-561 .elementor-share-btn{font-size:calc(0.85px * 10);}.elementor-561 .elementor-element.elementor-element-561 .elementor-share-btn__icon i{font-size:2.2em;}.elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-flat .elementor-share-btn,
					 .elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-gradient .elementor-share-btn,
					 .elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-boxed .elementor-share-btn .elementor-share-btn__icon,
					 .elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-minimal .elementor-share-btn .elementor-share-btn__icon{background-color:#000000;}.elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-framed .elementor-share-btn,
					 .elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-minimal .elementor-share-btn,
					 .elementor-561 .elementor-element.elementor-element-561.elementor-share-buttons--skin-boxed .elementor-share-btn{color:#000000;border-color:#000000;}@media(max-width:1024px){ .elementor-561 .elementor-element.elementor-element-561{--grid-side-margin:5px;--grid-column-gap:5px;--grid-row-gap:0px;--grid-bottom-margin:0px;}}@media(max-width:767px){ .elementor-561 .elementor-element.elementor-element-561{--grid-side-margin:5px;--grid-column-gap:5px;--grid-row-gap:0px;--grid-bottom-margin:0px;}.elementor-561 .elementor-element.elementor-element-561 .elementor-share-btn{font-size:calc(0.8px * 10);}}