@for $i from 0 through 300 {
  .padding- {
    &#{$i} {
      padding: $i * 1px;
    }

    &#{$i}-none {
      padding: $i * 1px 0;
    }

    &none-#{$i} {
      padding: 0 $i * 1px;
    }

    &t-#{$i} {
      padding-top: $i * 1px;
    }

    &l-#{$i} {
      padding-left: $i * 1px;
    }

    &r-#{$i} {
      padding-right: $i * 1px;
    }

    &b-#{$i} {
      padding-bottom: $i * 1px;
    }

    &lr-#{$i} {
      padding-left: $i * 1px;
      padding-right: $i * 1px;
    }

    &tb-#{$i} {
      padding-top: $i * 1px;
      padding-bottom: $i * 1px;
    }

    @include max-mobile-xlg {
      &xlg- {
        &#{$i} {
          padding: $i * 1px;
        }

        &#{$i}-none {
          padding: $i * 1px 0;
        }

        &none-#{$i} {
          padding: 0 $i * 1px;
        }

        &t-#{$i} {
          padding-top: $i * 1px;
        }

        &l-#{$i} {
          padding-left: $i * 1px;
        }

        &r-#{$i} {
          padding-right: $i * 1px;
        }

        &b-#{$i} {
          padding-bottom: $i * 1px;
        }

        &lr-#{$i} {
          padding-left: $i * 1px;
          padding-right: $i * 1px;
        }

        &tb-#{$i} {
          padding-top: $i * 1px;
          padding-bottom: $i * 1px;
        }
      }
    }
    @include max-mobile-xl {
      &xl- {
        &#{$i} {
          padding: $i * 1px;
        }

        &#{$i}-none {
          padding: $i * 1px 0;
        }

        &0-#{$i} {
          padding: 0 $i * 1px;
        }

        &t-#{$i} {
          padding-top: $i * 1px;
        }

        &l-#{$i} {
          padding-left: $i * 1px;
        }

        &r-#{$i} {
          padding-right: $i * 1px;
        }

        &b-#{$i} {
          padding-bottom: $i * 1px;
        }

        &lr-#{$i} {
          padding-left: $i * 1px;
          padding-right: $i * 1px;
        }

        &tb-#{$i} {
          padding-top: $i * 1px;
          padding-bottom: $i * 1px;
        }
      }
    }
  }

  .margin- {
    &#{$i} {
      margin: $i * 1px;
    }

    &#{$i}-none {
      margin: ($i * 1px) 0;
    }

    &none-#{$i} {
      margin: 0 ($i * 1px);
    }

    &t-#{$i} {
      margin-top: $i * 1px;
    }

    &r-#{$i} {
      margin-right: $i * 1px;
    }

    &b-#{$i} {
      margin-bottom: $i * 1px;
    }

    &l-#{$i} {
      margin-left: $i * 1px;
    }

    &lr-#{$i} {
      margin-left: $i * 1px !important;
      margin-right: $i * 1px !important;
    }

    &tb-#{$i} {
      margin-top: $i * 1px;
      margin-bottom: $i * 1px;
    }

    @include max-mobile-xlg {
      &xlg- {
        &#{$i} {
          margin: $i * 1px;
        }

        &#{$i}-none {
          margin: $i * 1px 0;
        }

        &none-#{$i} {
          margin: 0 $i * 1px;
        }

        &t-#{$i} {
          margin-top: $i * 1px;
        }

        &r-#{$i} {
          margin-right: $i * 1px;
        }

        &b-#{$i} {
          margin-bottom: $i * 1px;
        }

        &l-#{$i} {
          margin-left: $i * 1px;
        }

        &lr-#{$i} {
          margin-left: $i * 1px !important;
          margin-right: $i * 1px !important;
        }

        &tb-#{$i} {
          margin-top: $i * 1px;
          margin-bottom: $i * 1px;
        }
      }
    }

    @include max-mobile-xl {
      &xl- {
        &#{$i} {
          margin: $i * 1px;
        }

        &#{$i}-none {
          margin: $i * 1px 0;
        }

        &none-#{$i} {
          margin: 0 $i * 1px;
        }

        &t-#{$i} {
          margin-top: $i * 1px;
        }

        &r-#{$i} {
          margin-right: $i * 1px;
        }

        &b-#{$i} {
          margin-bottom: $i * 1px;
        }

        &l-#{$i} {
          margin-left: $i * 1px;
        }

        &lr-#{$i} {
          margin-left: $i * 1px !important;
          margin-right: $i * 1px !important;
        }

        &tb-#{$i} {
          margin-top: $i * 1px;
          margin-bottom: $i * 1px;
        }
      }
    }
  }
}

