
$transparent: transparent;
$white: #fff;
$black: #000;
$brand: #FF4938;
$brand-grey: #d6d7d9;

$color-pallete: (
  //default
        "transparent" : $transparent,
        "white" : $white,
        "black" : $black,
        "brand" : $brand
);

