h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  @include font-family-heading-secondary;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

h1, .h1 {
  font-size: ($h1-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h1-font-size * 2);
  }
}

h2, .h2 {
  font-size: ($h2-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h2-font-size * 2);

  }
}

h3, .h3 {
  font-size: ($h3-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h3-font-size * 2);

  }
}

h4, .h4 {
  font-size: ($h4-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h4-font-size * 2);
  }
}

h5, .h5{
  font-size: ($h5-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h5-font-size * 2);
  }
}

h6, .h6 {
  font-size: ($h6-font-size * 2.3);
  @include max-mobile-xlg {
    font-size: ($h6-font-size * 2);
  }
}

.title {
  font-size: ($h1-font-size * 1.3);
  @include max-mobile-xlg {
    font-size: ($h6-font-size * 2);
  }

  &-xl {
    font-size: ($h1-font-size * 1.7);

  }
}