html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

body {
  position: relative;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch !important; /* Lets it scroll lazy */
}

.site-content {
  ////background: repeating-linear-gradient(to right, rgba(112, 112, 112, 0.1), rgba(112, 112, 112, 0.1) 1px, #fff 1px, #fff 8.328%);
  //@include max-mobile-xlg {
  //  background: repeating-linear-gradient(to right, rgba(112, 112, 112, 0.1), rgba(112, 112, 112, 0.1) 1px, #fff 1px, #fff 15.328%);
  //
  //}
}

.elementor {
  overflow-x: hidden;
}