
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);

@mixin font-family-heading {
  font-family: 'Integral Bold', sans-serif;
}
@mixin font-family-default {
  font-family: 'Roboto', sans-serif;
}

@mixin font-family-heading-secondary {
  font-family: 'Morganite Medium', sans-serif;
}

.font-family-heading {
  font-family: 'Integral Bold', sans-serif;
}
.font-family-heading-secondary {
  font-family: 'Morganite Medium', sans-serif;
}

