.footer {
  padding: 30px;
  &-branding {
    text-align: center;
    img {
      width: 150px;
    }
  }
  &-copyright {
    text-align: center;
    margin-top: 20px;
    p {
      text-transform: uppercase;
      font-size: 0.75rem;
      color: #888;
      font-weight: 500;
    }
  }
}