.header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;
  padding:7px;
  z-index: 9999;
  @include max-tablet-md {
    position: fixed;
    height: 60px;
    background: transparent;
    @include transition-fade;
    &.change {
      background: $brand-grey;
    }
  }

  &-branding {

    position: absolute;
    top: 27px;
    left: 50px;
    z-index: 9999;
    //display: none;
    @include max-tablet-md {
      left: 30px;
      top: 17px;
    }
    @include max-mobile-xlg {
      left: 20px;
      top: 18px
    }
    img {
      width: 170px;
      cursor: pointer;
      @include max-mobile-xlg {
        width: 140px;
      }
    }
  }

  &-navigation {
    position: absolute;
    top: 22px;
    left: 50%;
    @include min-tablet-md {
      transform: translate(-50%, 0);
      animation: slide-in-top-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @include max-tablet-md {
      display: none;
      width: 35vw;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: unset;
      background: #fff;
      border-left: 1px solid #eee;
    }
    @include max-mobile-xlg {
      width: 100vw;
      background: $brand-grey;
      border: none;
    }

    ul {
      list-style: none;
      display: inline-flex;
      margin-left: -40px;
      width: max-content;
      @include max-tablet-md {
        display: block;
        position: fixed;
        top: 50px;
        width: 100%;
      }

      li {
        @include max-tablet-md {
          margin: 15px 0;
        }
        a {
          margin: 0 7px;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 0.9rem;
          font-weight: 500;
          @include transition-fade;
          @include max-tablet-xs {
            font-size: 1.1rem;
          }
          &:hover {
            color: #e94b3f;
          }

        }
      }
    }
  }

  &-right {
    position: absolute;
    right: 50px;
    top: 15px;
    @include max-tablet-md {
      right: 20px;
      display: none;

    }
    img {
      width: 55px;
    }
  }

  &-scrolldown {
    position: fixed;
    right: -15px;
    bottom: 100px;
    transform: rotate(90deg);
    @include max-mobile-xlg {
      right: -40px;
      bottom: 90px;
    }

    div {
      display: inline-flex;
      p {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 0.8rem;
        margin: 6px 7px 0 0;
      }
      i {
        font-size: 2rem;
        -webkit-animation: slide-top 1.2s infinite alternate both;
        animation: slide-top 1.2s infinite alternate both;
      }
    }
  }

  &-sharethis {
    position: fixed;
    bottom: 20px;
    left: 50px;
    display: inline-flex;
    @include max-tablet-xs {
      left: 30px;
      bottom: 25px;
    }
    p {
      font-weight: 600;
      margin-right: 12px;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

  &-toggle {
    position: fixed;
    right: 50px;
    top: 17px;
    z-index: 9999;
    @include min-tablet-md {
      display: none;

    }
    @include max-tablet-md {
      right: 30px;
    }
    @include max-mobile-xlg {
      right: 20px;
    }

    .menu-wrapper {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 25px;
    }

    .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
      content: '';
      height: 3px;
      background-color: black;
      width: 100%;
      display: block;

      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
    }

    .menu-wrapper span {
      position: relative;
    }

    .menu-wrapper span:before {
      position: absolute;
      top: -6px;
      width: 16px;
    }

    .menu-wrapper span:after {
      position: absolute;
      top: 6px;
    }

    /* Cross effect */
    .menu-wrapper.active .menu-cross {
      transition-duration: 0.1s;
      background: none;
    }

    .menu-wrapper.active .menu-cross:before {
      transform: rotate(45deg);
      top: 0;
      width: 25px;
    }

    .menu-wrapper.active .menu-cross:after {
      transform: rotate(-45deg);
      top: 0;
    }



    .menu-wrapper .menu-plus {
      position: relative;
      display: inline-block;
      height: 24px;
      width: 24px;
      background-color: #000000;
      border-radius: 50%;

      animation-duration: 1s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-direction: alternate;
      animation-fill-mode: forwards;
    }

    .menu-wrapper .menu-plus:before {
      content: '';
      height: 2px;
      width: 16px;
      background-color: #ffffff;
      position: absolute;
      top: 11px;
      left: 4px;
    }

    .menu-wrapper .menu-plus:after {
      content: '';
      height: 16px;
      width: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 4px;
      left: 11px;
    }

    .menu-wrapper.active .menu-plus:before,
    .menu-wrapper.active .menu-plus:after {
      animation-name: toCross;
    }

    .menu-wrapper.inactive .menu-plus {
      animation-name: toPlus;
    }

    @keyframes toCross {
      0% {
        transform: scale(0, 0);
      }
      50% {
        background-color: red;
      }
      to {
        background-color: yellow;
      }
    }

    @keyframes toPlus {
      from {
        background-color: yellow;
      }
      50% {
        background-color: red;
      }
      to {
        background-color: black;
      }
    }
  }
}


.travel-lists {

  .travel-lists_container{
  }
}
