
.woocommerce-input-wrapper {
  width: 100% !important;
}

.argmc-wrapper {
  .argmc-tabs-list {
    box-shadow: none !important;
  }
}

.shop_table {

  .cart-subtotal, .order-total {
    th {
      text-align: right;
    }
    td {
      padding: 0 10px;

      text-align: left;
    }
    th, td {
      font-size: 1rem;
    }
  }
  .coupon {
    display: none !important;
  }

  thead {
    text-align: center;
    border-bottom: 1px solid #e3e7e8;

    tr {
      th {
        paing: 15px 5px;
        font-size: 0.75rem;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
  tbody {
    border-bottom: 1px solid #e3e7e8;

    tr {
      td {
        padding: 10px 5px;
        font-size: 0.85rem;

      }
    }
    * {
      text-align: center;
    }
  }

  .actions {
    text-align: right;
  }
}

//buttons

//dynamic cart and checkout
.wi-cart-header {
  background: black !important;
  border-radius: 0 !important;
  @include max-mobile-xlg {
    width: 50px !important;
    padding: 12px !important;
  }

  &.hascart {
    @include max-mobile-xlg {
      left: -50px !important;
    }
  }
  * {
    color: white;
  }
  svg {
    fill: white;
  }

}

.wi-container {
  z-index: 999999 !important;
  background: white;
  //border-left: 4px solid black;

  background: white !important;
  @include transition-fade;


  .wi-inner {
    @include max-mobile-xlg {
      padding: 15px;
    }
  }

  &.panel-open {
    box-shadow: 0px 0px 300px -25px rgba(0,0,0,0.9);
    @include max-mobile-xlg {
      box-shadow: none !important;
    }

  }

}

.argmc-customer-review {
  h3 {
    font-weight: 300 !important;
    font-size: ($h3-font-size * 2.2) !important;
    font-family: 'Morganite Medium', sans-serif !important;
  }
}
.single_add_to_cart_button {
  margin-left: 10px !important;
  @include max-mobile-xlg {
    margin: 5px !important;
  }
}

.added_to_cart {
  background: #ec4941 !important;
  padding: 18px 25px !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: white !important;
  border-color: #ec4941 !important;
  border-radius: 0 !important;
  text-transform: uppercase !important;
  @include transition-fade;
  margin: 0 10px;
  @include max-mobile-xlg {
    margin: 0;
    position: relative;
    top: 0;
  }

  &:hover {
    background: #000 !important;
    outline: none !important;
    border-color: #000 !important;
  }

}

.wc_payment_methods {
  @include list-unstyled;
}

.wc-stripe-elements-field, .wc-stripe-iban-element-field {
  padding: 15px;
}

#wc-stripe-cc-form {
  padding: 0 !important;
}

.form-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.cart-collaterals {
  width: 33.33333%;
  float: right;
  @include max-mobile-xlg {
    width: 100% ;
  }
}

.checkout-button {
  width: 100% !important;
  float: right;
  text-align: center;
}

.argmc-wrapper .argmc-form-steps {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.argmc-form-steps-wrapper, .woocommerce-order {
* {
  color: black;
}
}

.woocommerce-form__label span {
  @include font-family-default;
  letter-spacing: 0;
}

.woocommerce-notices-wrapper {
  background: $brand;
  width: 90% !important;
  .woocommerce-message {
    margin: 15px 0 20px;
    padding: 20px;
  }
  * {
    color: white !important;
  }
  a {
    padding: 0 !important;
    background: transparent;
    border: none !important;
    display: none !important;
  }
}

.woocommerce-thankyou-order-received {
  font-weight: 300 !important;
  font-size: ($h3-font-size * 2.2) !important;
  font-family: 'Morganite Medium', sans-serif !important;
  text-transform: uppercase !important;
}


.woocommerce-notices-wrapper {
@include center-absolute;
  -webkit-animation: fade-out 0.3s ease-out both 5s;
  animation: fade-out 0.3s ease-out both 5s;
  position: fixed;
  bottom: 30px;
  z-index: 9999;
  @include center-absolute;
  .woocommerce-message {
    margin: 0;
    background: black;
  }
}
.woocommerce-result-count {
  display: none !important;
}
.woocommerce-ordering {
  margin-bottom: 30px;
  select {
    border: none !important;
  }
}
ul.products {
  margin-left: -40px !important;
}

@media (min-width: 1025px) {
  .elementor-element.elementor-products-grid .woocommerce.columns-3 ul.products, .elementor-element.elementor-products-grid ul.products.columns-3 {
    grid-template-columns: repeat(4,1fr) !important;
  }
}

.variations {
  .reset_variations {
    margin-left: 10px;
  }
}

.woocommerce-product-gallery {
  ol {
    @include list-unstyled;
    display: inline-flex !important;
    li{
      img {
        width: 110px !important;
        opacity: 0.7 !important;
        &.flex-active {
          opacity: 1 !important;
        }
      }
    }
  }
}

.woocommerce-product-gallery__trigger {
  display: none !important;
}