button, .single_add_to_cart_button, .button{
  background: black !important;
  padding: 18px 25px !important;
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: white !important;
  border-color: black !important;
  border-radius: 0 !important;
  line-height: 1 !important;
  text-transform: uppercase;
  @include transition-fade;
  &:hover {
    background: #888 !important;
    outline: none !important;
    border-color: #888 !important;
  }
}




#close_wi {
  background: transparent !important;
  padding: 0 !important;
  text-decoration: underline !important;
  color: black !important;
  text-align: left;
  border: none !important;
  margin-bottom: 50px;
  font-weight: 600 !important;
}

//.button-frontpage {
//  .added_to_cart {
//    float: left !important;
//    margin-left: 0 !important;
//    margin-top: -10px !important;
//    margin-bottom: 15px !important;
//    @include max-mobile-xlg {
//      margin-top: -20px !important;
//      margin-bottom: 50px !important;
//    }
//  }
//}

