input, textarea {
  border: 1px solid #e3e7e8 !important;
  padding: 12px !important;
  width: 100% !important;
  border-radius:  0 !important;
  @include transition-fade;
  &:active, &:focus {
    border: 1px solid black !important;
    outline: none !important;
  }
}

label {
  padding: 15px 0 10px;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
}

.select2-container .select2-selection--single {
  border: 1px solid #e3e7e8 !important;
  height: 48px !important;
  border-radius: 0 !important;
  &:hover, *:focus {
    outline: none !important;
  }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 12px !important;
}

.front_cart {
  input[type="number"] {
    text-align: center !important;
  }
}

select {
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 1px solid #e3e7e8 !important;
  padding: 12px !important;
  border-radius:  0 !important;
}